.book-search-page {
  position: relative;
  text-align: center;
  
}

.bookshelf-button {
  position: absolute;
  top: 0px;
  right: 20px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.bookshelf-button:hover {
  background-color: rgb(246, 105, 105);
}
